
.task {
    border: 4px solid darkblue;
border-radius: 10px;
min-height: 2vh;
max-height: 5vh;
max-width: 800px;
margin: 10px auto;}

.butt-check button:hover img {
    filter: brightness(0) saturate(100%) invert(22%) sepia(69%) saturate(3800%) hue-rotate(100deg);
    transition: filter 0.3s ease;
  }

.butt-thrash button:hover img {
    filter: brightness(0) saturate(100%) invert(21%) sepia(78%) saturate(800%) hue-rotate(-20deg);
    transition: filter 0.3s ease; /* Transición suave */
  } 